<div class="main-container">
    <section>
        <H1 class="page-title">Posts</H1>
        <div *ngIf="loaded">
            <P class="posts-showing-detail">(Showing {{postStart}} to {{postEnd}} of 100 posts)</P>
            <div *ngFor="let post of newPosts" class="post">
                <p><span>{{post.id}}. </span>{{post.body}}</p>
            </div>
            <div class="pagination">
                <ul class="pagination-list">
                    <li *ngFor="let pages of pagesList; index as i" [ngClass]="(i+1)===currentPage ? 'active' : '' " key=i (click)="onClick(i+1)">{{pages}}</li>
                </ul>
            </div>
        </div>
    </section>
</div>