.main-footer {
    position: fixed;
    bottom : 0;
    height : 30px;
    width : 100%;
    line-height : 24px;
    font-size : 15px;
    font-weight : 100;
    text-align : center;
    padding : 4px;
    background : #1c5f5f;
    
    color : white;
}