<div class="main-container">
    <section>
        <H1 class="page-title">Comments</H1>
        <div *ngIf="loaded">
            <P class="posts-showing-detail">(Showing {{start}} to {{end}} of {{Comments.length}} Comments)</P>
            <div *ngFor="let comment of slicedComments" class="post">
                <p><span>{{comment.id}}. </span>{{comment.body}}</p>
            </div>
            <div class="pagination"> 
                <span class="btn" (click)="firstPage()"> &#8810; </span>
                <span class="btn previous-btn" (click)="previous()"> &lt; </span>
                <ul class="pagination-list">
                    <li 
                        *ngFor="let page of Pages; let i = index" 
                        [ngClass]="(i)===pointedIndex ? 'active' : ''" 
                        key=i 
                        (click)="onClick(i)">{{page}}</li>
                </ul>
                <span class="btn next-btn" (click)="next()"> &gt; </span>
                <span class="btn" (click)="lastPage()"> &#8811; </span>
            </div>
        </div>
    </section>
</div>